utils.iml
target
.idea
/src/documentation/bags.idv
/src/documentation/bags.lg
/src/documentation/bags.4ct
/src/documentation/bags.dvi
/src/documentation/bags.log
/src/documentation/bags.css
/src/documentation/bags.html
/src/documentation/bags.aux
/src/documentation/bags.4tc
/src/documentation/bags.tmp
/src/documentation/bags.xref
/src/documentation/bags0x.png
